/* Chat  Page Styles */

.main_container {
    /* Properties */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    
    /* Arrangement */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat_section{
    /* Arrangement */
    display: flex;
    flex-direction: column;
    gap: 3rem;

    /* Decoration */
    padding: 2rem 2rem 10rem 2rem;
    align-self: center;

    /* Scrolling */
    overflow-y: auto;
    scroll-behavior: smooth;
}